.newsletter-input {
    padding: 5px;
    border: none;
    outline: none;
    background-color: rgb(248, 245, 245);
  }
  .footer-container {
    height: auto;
    background-color: #535050;
    padding: 20px;
    color: rgb(216, 209, 209);
    margin-top: 50px;
  }
  .quick-links{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 20px;
    color: yellow;
    list-style: none;
  }
    
  
  